<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="styles.min.css">
    <meta name="ad.size" content="width=<%= htmlWebpackPlugin.options.width %>,height=<%= htmlWebpackPlugin.options.height %>">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script type="text/javascript">
        var clickTag = "http://www.google.com";
    </script>
</head>

<body>
<div id="wrapper">

    <!-- le template de la bannière, divisé en plusieurs écrans -->

    <div id="ecrans" class="ecran">

        
        <div id="ecran1" class="ecran ecran1">
            <img src="img/logo.png" id="logo" class="logo" alt="" width="300" height="600">
        </div>


        <div id="shapes1" class="ecran shapes1">
            <img inline src="<%= htmlWebpackPlugin.options.distSVGPath %>/img/roues.svg" id="roues">
            <img inline src="<%= htmlWebpackPlugin.options.distSVGPath %>/img/fond.svg" id="fond">
            <img src="img/feuille.png" id="feuille" class="feuille" alt="feuille" width="421" height="600">
            <img src="img/feuille1.png" id="feuille1" class="feuille1" alt="feuille" width="387" height="600">
            <img src="img/key.png" id="key" class="key" alt="cle" width="367" height="600">

        </div>
        
        
        <div id="shapes2" class="ecran shapes2">
            <img src="img/outils.png" id="outils" class="outils" alt="" width="300" height="600">
            <img src="img/jambe.png" id="jambe" class="jambe jambes" alt="jambe" width="300" height="600">
            <img src="img/jambe1.png" id="jambe1" class="jambe1 jambes" alt="jambe" width="300" height="600">
        </div>

        
        <div id="ecran2" class="ecran ecran2">
            <img src="img/tel.png" id="tel" class="tel" alt="mobile" width="300" height="600">
        </div>

        
        <div id="ecran3" class="ecran ecran3">
            <img src="img/tel1.png" id="tel1" class="tel1" alt="mobile" width="368" height="600">
            <img src="img/soleil.png" id="soleil" class="soleil" alt="Re" width="300" height="600">
            <img src="img/cache.png" id="cache" class="cache" alt="decor" width="357" height="600">
        </div>
    

        <div id="ecran4" class="ecran ecran4">
            <img src="img/Samsung-Galaxy.png" id="samsung" class="samsung" alt="Samsung Galaxy S9+" width="344" height="600">
            <img src="img/noma.png" id="noma" class="noma nomas" alt="Samsung" width="300" height="600">
            <img src="img/noma1.png" id="noma1" class="noma1 nomas" alt="Galaxy S9+" width="300" height="600">
            <img src="img/DAS.png" id="das" class="das" alt="DAS tête : 0.294 W/Kg - DAS tronc : 1.35 W/Kg - DAS membres : 2.85 W/Kg" width="300" height="600">
        </div>
        
        
        <div id="ecran5" class="ecran ecran5">
            <img src="img/iphone-XR-face.png" id="iphone" class="iphone" alt="iPhone XR" width="347" height="600">
            <img src="img/nomb.png" id="nomb" class="nomb nombs" alt="iPhone" width="300" height="600">
            <img src="img/nomb1.png" id="nomb1" class="nomb1 nombs" alt="XR" width="300" height="600">
            <img src="img/DAS1.png" id="das1" class="das1" alt="DAS tête : 0.99 W/Kg - DAS tronc : 0.99 W/Kg - DAS membres : 2.38 W/Kg" width="300" height="600">
        </div>
        
        
        <div id="ecran6" class="ecran ecran6">
            <img src="img/galaxy-S10-face.png" id="galaxy" class="galaxy" alt="Galaxy S10" width="345" height="600">
            <img src="img/nomc.png" id="nomc" class="nomc nomcs" alt="Galaxy" width="300" height="600">
            <img src="img/nomc1.png" id="nomc1" class="nomc1 nomcs" alt="S10" width="300" height="600">
            <img src="img/DAS2.png" id="das2" class="das2" alt="DAS tête : 0.477 W/Kg - DAS tronc : 1.593 W/Kg - DAS membres : 2.73 W/Kg" width="300" height="600">
        </div>
        

        <div id="titre" class="ecran titre">
            <img src="img/claim.png" class="claims" alt="La semaine" width="300" height="600">
            <img src="img/claim1.png" class="claims" alt="du reconditionné" width="300" height="600">
            <img src="img/claim2.png" class="claims" alt="Du 3 au 9 mars 2022" width="300" height="600">
            <img src="img/txt.png" class="txts" alt="Jusqu'à" width="300" height="600">
            <img src="img/txt1.png" class="txts" alt="50€*" width="300" height="600">
            <img src="img/txt2.png" class="txts" alt="de remise immédiate" width="300" height="600">
            <img src="img/txt3.png" class="txts" alt="sur une sélection de smartphones reconditionnés" width="300" height="600">
        </div>
        
        
        <div id="ecran7" class="ecran ecran7">
            <img src="img/txtfin.png" id="txtf" class="txtfs" alt="Jusqu'à" width="300" height="600">
            <img src="img/txtfin1.png" id="txtf1" class="txtfs" alt="50€*" width="300" height="600">
            <img src="img/txtfin2.png" id="txtf2" class="txtfs" alt="de remise immédiate" width="300" height="600">
            <img src="img/txtfin3.png" id="txtf3" class="txtfs" alt="sur une sélection de smartphones reconditionnés" width="300" height="600">
            <img src="img/forfait.png" id="forfait" class="forfait argus" alt="sans forfait" width="300" height="600">
            <img src="img/et.png" id="and" class="and argus" alt="&" width="300" height="600">
            <img src="img/sans.png" id="sans" class="sans argus" alt="forfait" width="300" height="600">
            <img src="img/enga.png" id="enga" class="enga argus" alt="engagement" width="300" height="600">
            <img src="img/Samsung-Galaxy-lt.png" id="samsunglt" class="samsunglt telf" alt="Samsung Galaxy S9+" width="300" height="600">
            <img src="img/galaxy-S10-face-lt.png" id="galaxylt" class="galaxylt telf" alt="Samsung Galaxy S10" width="300" height="600">
            <img src="img/iphone-XR-face-lt.png" id="iphonelt" class="iphonelt telf" alt="iphone XR" width="300" height="600">
            <img src="img/feuille.png" id="feuillef" class="feuille" alt="feuille" width="421" height="600">
            <img src="img/feuille1.png" id="feuillef1" class="feuille1" alt="feuille" width="387" height="600">
            <img src="img/livraison.png" id="livraison" class="livraison" alt="livraison gratuite" width="300" height="600">
        </div>

        <!--les images de layouts (identiques peu importe les écrans) logo, cta, ...-->

        <img src="img/Footer.png" id="footer" class="footer" alt="Kit mains-libres recommandé. - Mentions légales" width="300" height="600">
        
    </div>
    
    <div id="mentions-link" class="mentions-link"></div>
    
        
    <div id="mentions" class="mentions">
        <img src="img/ml.png" id="mentions-text" width="300" height="600" />
        <svg id="mentions-back" class="mentions-back" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.6 24.5" width="24" height="24" style="enable-background:new 0 0 24.6 24.5;" xml:space="preserve"><style type="text/css">.st0{fill:#000000;}</style><polygon class="st0" points="24.6,9.5 10.5,9.5 16.1,3.9 12.2,0 0,12.2 3.9,16.1 3.9,16.1 12.2,24.5 16.1,20.6 10.6,15 24.6,15 "/></svg>
    </div>

    <a href="javascript:window.open(window.clickTag,' _blank');void(0);" id="clickTag">
        <span id="CTA" class="cta">
            Découvrir
        </span>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
    </a>


</div>




<div id="maskintro"></div>
<script src="scripts.min.js"></script>
</body>

</html>