//
//  Align vertically children
//
//  .children{
//      display: inline-block;
//      vertical-align: middle;
//  }
//
//  @see http://css-tricks.com/centering-in-the-unknown/
//
@mixin verticalAlignMiddle($pseudo-element: before) {
  white-space: nowrap;

  & > * {
    white-space: normal;
  }

  &:#{before} {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.3em;
  }
}