<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="styles.min.css">
    <meta name="ad.size" content="width=<%= htmlWebpackPlugin.options.width %>,height=<%= htmlWebpackPlugin.options.height %>">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="color-scheme" content="dark">
    <script type="text/javascript">
        var clickTag = "http://www.google.com";
    </script>
</head>

<body>
    <div id="wrapper">

        <!-- le template de la bannière, divisé en plusieurs écrans -->

        <div id="ecrans" class="ecran">


            <!-- ecran persistant -->
            <div id="ecran0" class="ecran ecran0">
                <img src="img/bg.jpg" alt="" width="300" height="600">
                <img inline src="<%= htmlWebpackPlugin.options.distSVGPath %>/img/vahine_300x600.svg" id="vectos">
                <img src="img/logo.png" id="logo" alt="yves rocher - bretagne - france" width="300" height="600">
            </div>


            <div id="ecran1" class="ecran ecran1">
                <img src="img/prod1.jpg" id="prod1" class="prod1 prods fade" alt="Monoï brume parfumée" width="300" height="600">
                <img src="img/prod2.jpg" id="prod2" class="prod2 prods fade" alt="Monoï huile nourrissante" width="300" height="600">
                <div id="txta" class="ecran">
                    <img src="img/txt2.png" class="flat1 flats" alt="" width="300" height="600">
                    <img src="img/txt3.png" class="flat2 flats" alt="" width="300" height="600">
                    <img src="img/txt.png" class="txts" alt="sensuel" width="300" height="600">
                    <img src="img/txt1.png" class="txts" alt="été" width="300" height="600">
                    <img src="img/nouveau.png" id="new" class="new" alt="nouveau" width="300" height="600">
                </div>
            </div>
            
            
            <div id="ecran2" class="ecran ecran2">
                <img src="img/prod3.jpg" id="prod3" class="prod3" alt="shampooing douche concentré au monoï" width="300" height="600">
                <img src="img/txtb3.png" id="flat3" class="flat3 fade2" alt="" width="300" height="600">
                <img src="img/txtb.png" class="txtbs fade2" alt="la collection" width="300" height="600">
                <img src="img/txtb1.png" class="txtbs fade2" alt="monoï" width="300" height="600">
                <img src="img/txtb2.png" class="txtbs fade2" alt="S’agrandit" width="300" height="600">
                <img src="img/nouveau1.png" id="new1" class="new1 fade2" alt="nouveau" width="300" height="600">
            </div>
            
            
            <div id="ecran3" class="ecran ecran3">
                <img src="img/pastille.png" id="pastille" class="pastille" alt="shampooing douche concentré 3€99" width="300" height="600">
                <div id="pictos" class="pictos ecran">
                    <img src="img/Picto.png" id="picto" class="picto" alt="flacon plastique 100% recyclable" width="300" height="600">
                    <img src="img/Picto1.png" id="picto1" class="picto picto1" alt="flacon plastique 100% recyclable" width="300" height="600">
                </div>
            </div>


            <div id="ecran4" class="ecran ecran4">
                <img src="img/prod1.jpg" id="prod1f" class="prod1 prodsf" alt="Monoï brume parfumée" width="300" height="600">
                <img src="img/prod2.jpg" id="prod2f" class="prod2 prodsf" alt="Monoï huile nourrissante" width="300" height="600">
            </div>



            <!--les images de layouts (identiques peu importe les écrans) logo, cta, ...-->


        </div>


        <a href="javascript:window.open(window.clickTag,' _blank');void(0);" id="clickTag">
            <span id="CTA" class="cta"></span>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
        </a>


    </div>

    <div id="maskintro"></div>
    <script src="scripts.min.js"></script>
    
</body>

</html>