@import 'base/vars';
@import 'base/reset';
@import 'base/base';
// @import 'helpers/mixins';
// @import 'helpers/utils';

// Insérer vos propres styles ici.
.ecran {
  .prelaod {
    img {
      visibility: hidden;
    }
  }

  .ecran1 {
    background-color: #000;

    canvas.cnvs {
      position: absolute;
      top: 0;
      left: 0;
      width: $width;
      height: $height;
    }

    .expl {
      position: absolute;
      bottom: 0;
      padding: 10px;
      pointer-events: none;
    }
  }
}
