@import 'base/vars';
@import 'base/reset';
@import 'base/base';
@import 'helpers/mixins';
@import 'helpers/utils';

// Insérer vos propres styles ici.
.ecran {
  background-color: transparent;

  .ecran1,
  .ecran0 {
    background-color: $color2;
  }

  .ecran1 {
    img.logo1 {
      transform-origin: 936px 34px; // center
    }

    img.txt1 {
      transform-origin: 525px 134px; // center
    }

    img.rect {
      transform-origin: 0% 135px;
    }

    img.tel21 {
      left: auto;
      right: 0;
    }
  }

  .ecran2 {
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.mentions {
  background-color: $color2;
}

.mentions-link {
  width: 65px;
  height: 15px;
  right: 21px;
  // transform: translateX(-50%);
  bottom: 11px;
  // border: 1px solid red;
}

.mentions-back {
  right: 12px;
  bottom: 12px;
  width: 26px;
  height: 26px;
}

.cta {
  right: 20px;
  // transform: translateX(-50%);
  bottom: 93px;
  width: 202px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  font-size: 22px;
  color: #000;
  background-color: $color1;

  /* Orange */
  // font-family: Arial, Helvetica, sans-serif;
  /* image en background */
  // background: #de2554 url('img/cta.png') center center no-repeat;
  // background-size: 100% auto;

  /* Sosh */
  border-radius: 4px;
  font-family: Tahoma, 'Trebuchet MS', Arial;

  &:hover {
    color: $color2;
    background-color: #fff;
  }
}
