@import 'base/vars';
@import 'base/reset';
@import 'base/base';
@import 'helpers/mixins';
@import 'helpers/utils';

// Insérer vos propres styles ici.
.ecran {
  .ecran0 {
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    // background-color: $color3;
  }
  .ecran1 {
    background-color: blue;
  }
  .ecran2 {
    background-color: blue;
  }
  .ecran3 {
    background-color: blue;
  }
  .ecran4 {
    background-color: blue;
  }
  .ecran5 {
    background-color: blue;
  }

  .chronom {
    position: absolute;
    width: 238px;
    height: 276px;
    bottom: -43px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-30deg);
    transform-origin: center center;
  }
}

.mentions {
  background-color: $color2;
}

.mentions-link {
  width: 83px;
  height: 11px;
  left: 43px;
  bottom: 8px;
  border: 1px solid blue;
}

.mentions-back {
  right: 17px;
  bottom: 17px;
  width: 26px;
  height: 26px;
}

.cta {
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  color: #fff;
  border: 1px solid #000000;

  /* Orange */
  font-family: Arial, Helvetica, sans-serif;
  /* image en background */
  // background: #de2554 url('img/cta.png') center center no-repeat;
  // background-size: 100% auto;

  /* Sosh */
  // border-radius: 4px;
  // font-family: Tahoma, 'Trebuchet MS', Arial;

  &:hover {
    color: $color2;
    background: #000000;
  }
}

.cta.invert {
  color: $color1;
  background-color: $color3;
  &:hover {
    color: $color1;
    background-color: #000000;
  }
}
